
  <button class='dropdown-toggle'>
    <img
      src={{img}}
      alt={{alt}}
      class='dots-btn'
    />
    </button>
  <div class='dropdown-menu'>
    {{{deleteChat}}}
    <div class="adduser">{{{userLoginInput}}}{{{addUserBtn}}}</div>
  </div>

