<form class='auth' action='#/chat'>
  <div class='wrapper__form wrapper-txt'>
    <label class='auth-txt'>Вход</label>
    {{{inputLogin}}}
    <span class='for-error'>bad login</span>
    {{{inputPass}}}
    <span class='for-error'>to short password</span>
  </div>
  <div class='wrapper__form wrapper-btn'>
    {{{button}}}
    {{{registr}}}
  </div>
</form>
{{!-- <nav class='links'>
  <a href='#/login'>Login</a>
  <a href='#/registration'>Registration</a>
  <a href='#/profile'>Profile</a>
  <a href='#/404'>Page not found</a>
  <a href='#/500'>Server error</a>
  <a href='#/chat'>Chat</a>
  {{{logout}}}

</nav> --}}
