{{{avatar}}}

<form action='#/profile' class='profile__edit'>
  <table class='profile__list'>
    <thead>
      <tr>
        <th colspan='2'>{{first_name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Почта</td>
        <td>{{{inputMail}}}
          <span class='for-error'>wrong email</span>
        </td>
      </tr>
      <tr>
        <td>Логин</td>
        <td>
          {{{inputLogin}}}
          <span class='for-error'>bad login</span>
        </td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>
          {{{inputFname}}}
          <span class='for-error'>not allowed</span>
        </td>
      </tr>
      <tr>
        <td>Фамилия</td>
        <td>
          {{{inputSname}}}
          <span class='for-error'>not allowed</span>
        </td>
      </tr>
      <tr>
        <td>Имя в чате</td>
        <td>
          {{{inputDname}}}
          <span class='for-error'>not allowed</span>
        </td>
      </tr>
      <tr>
        <td>Телефон</td>
        <td>
          {{{inputTel}}}
          <span class='for-error'>not a number</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class='wrapper__form wrapper-btn'>
    {{{button}}}
  </div>
</form>
