{{{avatar}}}

<form action='#/profile' class='pass__edit'>
  <table class='profile__list'>
    <thead>
      <tr>
        <th colspan='2'>Изменение пароля</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Старый пароль</td>
        <td>
          {{{inputOldPass}}}
          <span class='for-error'>bad password</span>
        </td>
      </tr>
      <tr>
        <td>Новый пароль</td>
        <td>
          {{{inputNewPass}}}
          <span class='for-error'>bad password</span>
        </td>
      </tr>
      <tr>
        <td>Повторите новый пароль</td>
        <td>
          {{{inputPassRep}}}
          <span class='for-error'>bad password</span>
        </td>
      </tr>

    </tbody>
  </table>

  <div class='wrapper__form wrapper-btn'>
    {{{button}}}
  </div>
</form>
