{{{avatar}}}
<table class='profile__list'>
  <thead>
    <tr>
      <th colspan='2'>{{first_name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Почта</td>

      <td>{{email}}</td>

    </tr>
    <tr>
      <td>Логин</td>
      <td>{{login}}</td>
    </tr>
    <tr>
      <td>Имя</td>
      <td>{{first_name}}</td>
    </tr>
    <tr>
      <td>Фамилия</td>
      <td>{{second_name}}</td>
    </tr>
    <tr>
      <td>Имя в чате</td>
      <td>{{display_name}}</td>
    </tr>
    <tr>
      <td>Телефон</td>
      <td>{{phone}}</td>
    </tr>
  </tbody>
</table>

<nav class='profile__nav'>
  {{{settings}}}
  {{{password}}}
  {{{chat}}}
  {{{logout}}}
</nav>
