<div class='chat-page'>

  <div class='chat-box'>
    {{{profile}}}
    <input type='text' placeholder='Поиск' />

    <form action='#' class='chat-create'>
      {{{chatNameInput}}}
      {{{createChat}}}
    </form>

    {{{chatList}}}
  </div>
  <div class='chat-block'>
    <div class='header'>
      <h2 class='chat-name'>
        {{chatName}}

      </h2>
      {{!-- <ul class='users-list'>
        {{#each chatUsers}}
          <li>
            {{@index}}
            :
            {{this}}
          </li>
        {{/each}}
      </ul> --}}
      {{{treeDots}}}
    </div>
    {{! <div class='chat-tape'></div> }}
    {{{messages}}}
    <form class='chat-msg'>
      {{{messageInput}}}
      {{{buttonSend}}}
    </form>
  </div>
</div>
