<div class='chat-page'>

  <div class='chat-list'>
    {{{profile}}}
    <input type='text' placeholder='Поиск' />

    <form action='#' class='chat-create'>
      {{{chatNameInput}}}
      {{{createChat}}}
    </form>

    <span>Список чатов</span>
    {{{chatList}}}
  </div>
  <div class='chat-block'>
    <div class='header'>
      "Chat name"
      {{{buttonDots}}}
    </div>
    <div class='chat-tape'></div>
    <form action='#' class='chat-msg'>
      {{! <input type='text' name='message' placeholder='Сообщение' /> }}
      {{{messageInput}}}
      {{{buttonSend}}}
    </form>
  </div>
</div>
